<main>
  <h1>handlebars: *.hbs</h1>

  <section>
    <h2>replace</h2>

    <p>foo: {{foo}}</p>
    <p>bar: {{bar}}</p>
    <p>__PATH__: {{__PATH__}}</p>
    <p>__PATH__: {{__PATH__}}</p>
    <p>__ROOT__: {{__ROOT__}}</p>
    <p>__TIMESTAMP__: {{__TIMESTAMP__}}</p>
    <p>__TIMESTAMP_QUERY__: {{__TIMESTAMP_QUERY__}}</p>
    <p>__DEV__: {{__DEV__}}</p>
    <p>__DEV_TIMESTAMP__: {{__DEV_TIMESTAMP__}}</p>
    <p>__DEV_TIMESTAMP_QUERY__: {{__DEV_TIMESTAMP_QUERY__}}</p>
  </section>

  <section>
    <h2>include helper</h2>

    <section>
      <h3>../hbsLib/hbsLib1</h3>
      {{_ "../hbsLib/hbsLib1"}}
    </section>

    <section>
      <h3>../hbsLib/hbsLib2</h3>
      {{_ "../hbsLib/hbsLib2"}}
    </section>

    <section>
      <h3>../hbsLib/hbsLib2</h3>
      {{include "../hbsLib/hbsLib3"}}
    </section>
  </section>

  <section>
    <h2>insert helper</h2>

    <section>
      <h3>../hbsLib/hbsLib1</h3>
      {{$ "../hbsLib/hbsLib1"}}
    </section>

    <section>
      <h3>../hbsLib/hbsLib2</h3>
      {{$ "../hbsLib/hbsLib2"}}
    </section>

    <section>
      <h3>../hbsLib/hbsLib2</h3>
      {{insert "../hbsLib/hbsLib3"}}
    </section>
  </section>
</main>
